/* .customtable {
  height: 100%;
} */

.table-query-container {
  height: 300px;
}

.table-query-container .ant-table-pagination.ant-pagination {
  margin: 0;
  padding: 6px 10px;
  position: relative;
  height: 36px;
}
.table-query-container .ant-table-pagination.ant-pagination .ant-pagination-total-text{
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 12px;
  color: #707070;
}
.table-query-container .ant-table-body {
  border-bottom: 1px solid #ebeef5;
  overflow-y: auto !important;
}
.table-query-container .ant-table-body tr{
  background-color: #fff;
}
.table-query-container .ant-table-body tr:nth-child(odd) td {
  background-color: #f8f8f8;
}
.table-query-container .ant-table-pagination.ant-pagination .ant-pagination-item-active{
  background:#d1f4ff ;
  border-color: #d1f4ff;
}
.table-query-container .ant-table-pagination.ant-pagination .ant-pagination-options .ant-select{
  min-width: 80px;
}

/* .table-query-container .table-query-table-content {
  flex: 1;
} */
